*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  /* display: flex;
  justify-content: center;
    align-items: center; */
    /* background-color: rgb(245, 73, 245); */
    background-color: black;
    /* background-image: url(../media/guess);
    background-repeat: no-repeat;
    background-size: cover; */
}
h1{
    height: 50px;
    width: 330px;

font-style: italic;
    color: red;
    border-bottom: 5px double white;
margin-left: 30rem;
margin-top: 4rem;
   
}
#container{
    width: 330px;
    height: 330px;
    border: 5px double ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 205, 205);
    margin-top: 2rem;
    margin-left: 30rem;
    box-shadow: 4px 4px 10px white;
}
#guessbox{
    height: 60px;
    width: 60px;
    border: 3px double white;
    color: white;
    font-size: 20px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}
#submit{
    height: 40px;
    width: 90px;
    border: 1px solid gray;
    background-color: black;
    color: white;
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}
#score{
    height: 40px;
    width: 80px;
    border: 2px double white;
    display: flex;
    justify-content: center;
    background-color: purple;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
 
}
#hint{
    height: 40px;
    width: 180px;
    background-color: white;
    border: 2px double black;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inp{
    height: 30px;
    width:200px;
    font-size: 20px;
    border: 1px solid black;
}
#ballon{
    display: none;
    margin-left: 35rem;
    width: 250px;
    height: 200px;
}